{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>{{ .Site.Title }}</h1>
            <center><img src="/img/mig.png" alt="airplane should be here" width="500" height="500"><center>
            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
